main {
    font-size: 2rem;
}

h1 {
    color: white;
    font-family: "Clementine Sketch";
    font-weight: bolder;
    font-size: 6rem;
    font-variant: all-petite-caps;
    background-color: seagreen;
}